@import "../constants/index";

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  background-color: $bg-dark;
  color: #fff;

  .footer-logo,
  .footer-icons {
    height: 1.1rem;
    filter: invert(1);
  }
  .footer-content__wrapper {
    width: 100%;
    @media (min-width: 1200px) {
      max-width: 1039px;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;

    ul {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      a {
        display: flex;
        font-weight: 500;

        img {
          padding-right: 0.8rem;
          width: 30px;
        }
        span {
          line-height: 100%;
        }
      }
    }
  }
}
