@keyframes component-loading {
  0% {
    opacity: 0;
    z-index: 100;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 1;
  }
  99% {
    z-index: 100;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes appear-from-bottom__step1 {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes appear-from-bottom__step2 {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  33% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes appear-from-bottom__step3 {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  66% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
