@mixin heart-icon() {
  display: flex;
  align-items: flex-start;
  padding-top: 0.5rem;
  background-image: url("https://zansuken.github.io/Ohmyfood/public/medias/images/icons/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
  width: 1.6rem;

  input {
    &:hover {
      cursor: pointer;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("https://zansuken.github.io/Ohmyfood/public/medias/images/icons/heart-filled.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      transform: scale(0);
      transition: transform 0.3s ease-in-out;
    }
    &:checked,
    &:hover {
      &::after {
        transform: scale(1.05);
      }
    }
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 25.6px;
    margin-top: 6.4px;
  }
}
