@import "../../constants/index";

.menu-content__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 325px;
  margin: 0 auto;

  @media (min-width: 1200px) {
    max-width: 1039px;
  }
  h1 {
    font-family: $font-main;
    font-size: $font-size-h1;
    font-weight: 500;
  }
  .menu-content-action {
    @include heart-icon();
    margin-right: 1rem;
    padding-top: 0;
    input {
      margin-top: 0;
    }
  }
}
