@import "../../constants/index";

.menu-content__dishes-list li {
  height: 65px;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 0.8rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  background-color: $bg-light-gray;
  position: relative;
  input {
    &:checked ~ .content-wrapper {
      .right {
        margin-right: 0;

        .checked-icon img {
          transform: rotate(-360deg);
        }
      }
    }
    @media screen and (min-width: 768px) {
      &:focus {
        .right {
          margin-right: 0;

          .checked-icon img {
            transform: rotate(-360deg);
          }
        }
      }
    }
  }

  label {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    cursor: pointer;
    @media screen and (min-width: 768px) {
      &:hover {
        + .content-wrapper .right {
          margin-right: 0;
          .checked-icon img {
            transform: rotate(-360deg);
          }
        }
      }
    }
  }

  .content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0 0 0 0.5rem;
    border-radius: 0.8rem;
    background-color: $bg-light-gray;
    font-size: $font-size-h2;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    @media screen {
    }
    @media screen and (min-width: 768px) {
      &:hover {
        .right {
          margin-right: 0;
          .checked-icon img {
            transform: rotate(-360deg);
          }
        }
      }
    }
    .left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow: hidden;
      height: 100%;
    }
    .right {
      display: flex;
      align-items: flex-end;
      height: 100%;
      gap: 0.5rem;
      margin-right: -55px;
      transition: all 0.3s ease-in-out;
      .price {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        width: min-content;
        padding-bottom: 0.6rem;
        padding-right: 0.2rem;
      }
      .checked-icon {
        height: 100%;
        width: 55px;
        background-color: $color-tertiary;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0 0.8rem 0.8rem 0;
        img {
          background-color: white;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          padding: 0.2rem;
          transform: rotate(-180deg);
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }

  h3 {
    font-size: $font-size-h3;
    font-weight: 800;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 0.5rem;
  }

  p {
    padding-left: 0.5rem;
    font-size: 0.8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  span {
    font-size: 0.9rem;
    font-weight: 800;
  }
}
