@import "../../constants/index";

.menu-content__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-top: 1.5rem;

  .menu-content__main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    @media (min-width: 1200px) {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 2rem;
      margin-top: 0;
    }
  }

  .menu-content__dishes:nth-of-type(1) {
    animation-name: appear-from-bottom__step1;
    animation-duration: 2s;
  }
  .menu-content__dishes:nth-of-type(2) {
    animation-name: appear-from-bottom__step2;
    animation-duration: 2s;
  }
  .menu-content__dishes:nth-of-type(3) {
    animation-name: appear-from-bottom__step3;
    animation-duration: 2s;
  }

  .menu-content__actions {
    display: flex;
    justify-content: center;
    .order-button {
      @include button();
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }
  }
}
