@import "../../constants/index";
@import "../../shared/button";

.redirection {
  background-color: $bg-light-gray;
  .location {
    display: flex;
    justify-content: center;
    padding: 1rem 0 0.8rem;
    background-color: $bg-gray;
    .location-wrapper {
      display: flex;
      gap: 0.8rem;
      width: 155.54px;
      img {
        height: 1.1rem;
      }
      .location-current {
        flex: 1;
        font-weight: 600;
      }
    }
  }
  .redirection-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    padding: 1.8rem 0.8rem;
    text-align: center;

    h1 {
      font-size: $font-size-h1;
      font-weight: 800;
      line-height: 1.5;
      max-width: 250px;
      line-height: 1.5rem;
    }
    p {
      font-size: 1.1rem;
      font-weight: 400;
    }
    .redirect-button {
      @include button();
    }
  }
}
