@import "../../constants/index";

main {
  background-color: $bg-light-gray;
  padding: 2.4rem 1rem;

  h1 {
    font-size: $font-size-h1;
    font-weight: 700;
    margin-bottom: 1.2rem;
  }

  .restaurants-cards__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;

    @media screen and (min-width: 375px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      text-align: left;
    }

    .restaurants-cards__item {
      width: 100%;
      max-width: 328px;
      height: 250px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 0.8rem;
      box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);

      &:nth-child(2) {
        .restaurant-thumbnail {
          img {
            object-position: center -146px;
          }
        }
      }
      .restaurant-thumbnail {
        position: relative;
        height: 100%;
        width: 328px;
        overflow: hidden;
        border-radius: 0.8rem 0.8rem 0 0;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center -50px;
        }
        .restaurant-status {
          margin: 1rem 1rem 0 0;
          position: absolute;
          top: 0;
          right: 0;
          background-color: $color-tertiary;
          padding: 0.2rem 0.6rem;
          border-radius: 0.2rem;
        }
      }
      .restaurant-infos__container {
        background-color: white;
        height: 80px;
        display: flex;
        justify-content: space-between;
        padding: 0.8rem 1.6rem 0.8rem 1rem;
        border-radius: 0 0 0.8rem 0.8rem;

        .restaurant-infos {
          text-align: left;

          h2 {
            font-size: $font-size-h2;
          }

          span {
            font-size: $font-size-base;
          }
        }

        .restaurant-action {
          @include heart-icon();
        }
      }
    }
  }
}
